@using TinyLog
@model TinyLog.Mvc.TinyLogHandleErrorInfo

@{

    ViewBag.Title = "Error";
    
}

<h1 class="text-danger">We're sorry but a HTTP @Model.StatusCode error occured</h1>
@Html.Partial("_LogEntry",Model.LogEntry)

